<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <input type="text" [ngClass]="{ 'active': active.firstName, 'checked': checked }" placeholder="First name..." formControlName="firstName" (focus)="active.firstName = true" (blur)="active.firstName = false">
  </div>
  <div>
    <input type="text" [ngClass]="{ 'active': active.lastName, 'checked': checked }" placeholder="Last name..." formControlName="lastName" (focus)="active.lastName = true" (blur)="active.lastName = false">
  </div>
  <div>
    <input type="text" [ngClass]="{ 'active': active.email, 'checked': checked }" placeholder="Your email..." formControlName="email" (focus)="active.email = true" (blur)="active.email = false">
  </div>
  <div>
    <input type="text" [ngClass]="{ 'active': active.areaCode1, 'checked': checked }" placeholder="Area code..." formControlName="areaCode1" (focus)="active.areaCode1 = true" (blur)="active.areaCode1 = false">
  </div>
  <div>
    <input type="text" [ngClass]="{ 'active': active.areaCode2, 'checked': checked }" placeholder="Area code..." formControlName="areaCode2" (focus)="active.areaCode2 = true" (blur)="active.areaCode2 = false">
  </div>
  <div>
    <input type="text" [ngClass]="{ 'active': active.pass, 'checked': checked }" placeholder="Password..." formControlName="pass" (focus)="active.pass = true" (blur)="active.pass = false">
  </div>
  <div>
    <input type="text" [ngClass]="{ 'active': active.rePass, 'checked': checked, 'invalid': registerForm.value.pass !== registerForm.value.rePass }" placeholder="Password..." formControlName="rePass" (focus)="active.rePass = true" (blur)="active.rePass = false">
  </div>
  <button type="submit">Submit</button>
</form>
